<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form
    action="http://localhost:5000/login"
    method="POST">
    <label for="name">Enter Name</label>
    <p><input type="text" name="name" /></p>
    <label for="age">Enter age</label>
    <p><input type="text" name="Age" /></p>
    <label for="address">Enter Address</label>
    <p><input type="text" name="address" /></p>
    <label for="nat">Enter Nationality</label>
    <p><input type="text" name="nat" /></p>
    <p><input type="submit" value="Submit" /></p>
  </form>
</body>
</html>