<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:5000/enternew" method="POST">
        <h3>Student Information</h3>
        name <br>
        <input type="text" name="nm"><br>
        Address <br>
        <input type="text" name="add"><br>
        City <br>
        <input type="text" name="city"><br>
        PINCOBE <br>
        <input type="text" name="pin"><br>
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>