<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- <form method="POST" action="/addepartment">
            <label for="deptname">Department Name</label>
            <p><input type="text" name="deptname" /></p>
            <label for="locID">LoactionID</label>
            <p><input type="text" name="locID" /></p>
            <input type="submit" value="Submit">
            <p>{{msg}}</p>

    </form> -->

    <form action="/addepartment" method="POST" class="w-50 m-0">
        <div class="form-group">
          <label for="exampleInputEmail1">Department Name</label>
          <input type="text" class="form-control" name="deptname" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">LoactionID</label>
          <input type="text" name="locID" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>{{msg}}</p>
    </form>
    
</body>
</html>