<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- <h1>Home page</h1>
    <ul style="list-style: none">
       <li><a href="/showdepartment">Department List</a></li>
       <li><a href="/department">Add Department</a></li>
       <li><a href="/logout">Logout</a></li>
       <li>{{msg}}</li>

    </ul> -->

    <div class="list-group">
            <a href="#" class="list-group-item text-center list-group-item-action active">
               <h1 >Home Page</h1> 
            </a>
            <a href="/showdepartment" class="list-group-item list-group-item-action">Department List</a>
            <a href="/department" class="list-group-item list-group-item-action">Add Department</a>
            <a href="/logout" class="list-group-item list-group-item-action">Logout</a>
    </div>
</body>
</html>